html, body {
  background-color: #222;
}

html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1049px;
  min-height: 471px;
}

#startMenuWrapper {
    z-index: 2;
}

#startMenu {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

#playerNameInput {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 30px;
    outline: none;
    font:bold 15px Tahoma;
}

#gameArea {
  position: absolute;
  height: 451px;
  width: 779px;
  left: 10px;
  top: 10px;
  opacity: 0;
  background-color: #e6ffb3;
}

#gameAreaWrapper {
  position: absolute;
  height: 471px;
  width: 799px;
  left: 20px;
  top: 50%;
  opacity: 0;
  margin-top: -235px;
  border-radius: 10px;
  background-color: #404040;
}

#gameInfo {
  position: absolute;
  height: 471px;
  width: 250px;
  right: 20px;
  top: 50%;
  opacity: 0;
  margin-top: -235px;
  border-radius: 10px;
  background-color: #404040;
}

.title {
  text-align: center;
  color:#FFFFFF;
  margin-top: 20px;
  font-size: 70px;
  font-weight: bold;
}

.text {
  text-align: center;
  color:#FFFFFF;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.waitingForPlayers {
  text-align: center;
  color:#FFFFFF;
  margin-top: 25%;
  font-size: 70px;
  font-weight: bold;
}

.buttonMenu {
  width:200px;
  height:50px;
  background:#FF0000;
  border:10px solid #FFFF33;
  color:#FFFFFF;
  font:bold 12px Tahoma;
  text-align:center;
  line-height:50px;
  border-radius: 15px 50px;
  margin: 30px
}
.undo {
  width:60px;
  height:50px;
  background:#404040;
  border:10px solid #FFFFFF;
  color:#FFFFFF;
  font:bold 12px Tahoma;
  text-align:center;
  line-height:50px;
  border-radius: 15px;
  margin: 30px
}
